<head>
  <link rel="stylesheet" type="text/css" href="home.css" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<div class="header">
  <div class="header-logo">
    <div class="logo"><img
        src="./img/inhaLogo.png"
        alt="INHA UNIVERSITY"
      /></div>
    <span class="logo-text">Hospital</span>
  </div>
</div>

<div class="content">
<div class="side">
  <div class="side-frame">
    <form id="loginform" method="post" action="/">
      <div class="loginform-input">
        <div class="loginform-input_id">
          <label for="id" class="label-text">Id</label>
          <input
            class="loingform-input_id_input"
            name="id"
            type="text"
            required
          />
        </div>
        <div style="margin-top:8px;" class="loginform-input_pwd">
          <label for="password" class="label-text">Password</label>
          <input
            class="loginform-input_pwd_input"
            name="password"
            type="password"
            required
          />
        </div>
        <div style="margin-top:8px">
          <span class="loginform-input_forget">Find ID/Password</span>
        </div>
      </div>
      <div class="loginform-btnDiv">
        <button class="loginform-btnDiv_btn" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
